.viewPage {
  margin-block: 18px;
}

.leaveTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0em;
  color: #292828;
}

.title {
  margin-top: 24px;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit {
  cursor: pointer;
  font-weight: 400;
  font-size: 10px;
  color: #24448a;
  display: flex;
  align-items: center;
  gap: 6px;
}

@media screen and (min-width: 768px) {
  .commentsWrapper {
    width: 500px;
    margin-inline: auto;
  }
  .edit {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .titleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .postWrapper {
    display: flex;
    gap: 134px;
    margin-bottom: 30px;
    margin-top: -15px;
  }
  .commentsWrapper {
    width: 526px;
  }
  .title {
    width: 100%;
    margin-left: 140px;
  }
  .edit {
    font-size: 16px;
    position: absolute;
    left: 460px;
    bottom: 35px;
  }
}
