.image {
  height: 300px;
  object-fit: cover;
  margin-bottom: 24px;
}

.title {
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  color: #24448a;
  margin-bottom: 16px;
}

.rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.ratingText {
  font-weight: 275;
  font-size: 12px;
  line-height: 134%;
  letter-spacing: 0em;
  text-align: center;
  color: #697a9e;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #24448a;
  margin-bottom: 26px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 18px;
}

.tag {
  border: 0.1px solid #fdfdfd;
  border-radius: 8px;
  padding: 6px 10px;
  background: #697a9e;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #fdfdfd;
}
