.wrapper {
  border-radius: 8px;
  padding: 28px 20px;
  width: 225px;
  height: 160px;
  position: absolute;
  background: #f2f6ff;
  right: 0px;
  top: 60px;
  z-index: 10;
}

.wrapper p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.active {
  color: #24448a !important;
}

.wrapper p:not(:last-child) {
  margin-bottom: 16px;
}

.icon {
  color: #24448a;
  width: 22px;
  height: 22px;
}
