.form {
  margin-bottom: 48px;
}
.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: var(--text);
  margin-bottom: 24px;
}
.wrapInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}
.wrapAdditionalInfo {
  margin-bottom: 48px;
}
.textarea {
  width: 328px;
  height: 82px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0em;
  border-radius: 8px;
  padding: 8px 40px 8px 8px;
  font-size: 16px;
  color: var(--text);
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
  resize: none;
}
.textarea:focus {
  border-color: var(--button-hover);
}

.textarea::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.textarea:focus::placeholder {
  opacity: 0;
}
.wrapBtn {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media only screen and (min-width: 768px) {
  .wrapInfo {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px 72px;
  }
  .infoItem {
    width: calc((100% - 72px) / 2);
  }
  .textarea {
    width: 696px;
  }
  .wrapBtn {
    flex-direction: row;
    justify-content: center;
    column-gap: 16px;
  }
}
@media only screen and (min-width: 1440px) {
  .form {
    margin-left: 110px;
  }
  .wrapInfo {
    gap: 24px 70px;
    width: 1076px;
  }
  .infoItem {
    width: calc((100% - 70px * 2) / 3);
  }
  .textarea {
    width: 1076px;
  }
}
