.input {
  width: 100%;
  max-width: 400px;
  font-family: inherit;
  font-size: 16px;
  border: 1px solid var(--text);
  border-radius: 13px;
  padding: 10px;
  resize: none;
  width: 328px;
  height: 48px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: var(--input-backgroung);
  outline: none;
}

.control {
  border-radius: 13px;
  border: 1px solid var(--text);
  background: var(--input-backgroung);
  padding: 10px;
  width: 328px;
  height: 48px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.menu {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.optionFocused {
  background-color: #f0f8ff;
  color: black;
}

.optionSelected {
  background-color: #007bff;
  color: white;
}
