.wrapper {
  margin-block: 28px;
  background-color: #fdfdfd;
}

.title {
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin-block: 49px;
  }
}
@media screen and (min-width: 1440px) {
  .wrapper {
    margin-block: 56px;
  }
}
