.wrapper {
  padding: 8px 10px;
}

.commentItem {
  display: flex;
  margin-bottom: 24px;
  position: relative;
}

.userPic {
  margin-right: 24px;
}

.nameWrapper,
.timeWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.name {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #24448a;
}

.role {
  width: 18px;
  height: 18px;
  color: #24448a;
}

.timeWrapper {
  gap: 15px;
  font-weight: 275;
  font-size: 12px;
  line-height: 134%;
  letter-spacing: 0em;
  text-align: center;
  color: #697a9e;
}

.description {
  font-weight: 275;
  font-size: 12px;
  line-height: 150%;
  color: #132d62;
}

.trashIcon {
  position: absolute;
  width: 18px;
  height: 19px;
  color: #24448a;
  cursor: pointer;
  right: 0;
}

@media screen and (min-width: 768px) {
  .commentWrapper {
    display: flex;
    align-items: center;
  }
  .nameWrapper {
    margin-right: 16px;
  }
}
