.logoBox {
  display: none;
}

@media only screen and (min-width: 768px) {
  .logoBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 177px;
    height: 38px;
  }
  .logoLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
    text-decoration: none;
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 24px;
    color: var(--additional-text);
    line-height: 1;
    height: 100%;
    padding: 0;
  }
  .logoImg {
    width: 28px;
    height: 28px;
  }
  .logoTitle {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 25px;
    color: #fdfdfd;
  }
}

@media only screen and (min-width: 1440px) {
  .logoBox {
    min-width: 236px;
    height: 46px;
  }
  .logoImg {
    width: 29px;
    height: 28px;
  }
  .logoLink {
    font-size: 30px;
  }
  .logoTitle {
    font-size: 30px;
  }
}
