.logoBox {
  display: none;
}

@media only screen and (min-width: 768px) {
  .logoBox {
    display: flex;
  }
  .sign {
    display: none;
  }
  .link {
    display: flex;
    align-items: center;
    column-gap: 8px;
    text-decoration: none;
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 24px;
    color: var(--additional-text);
    line-height: 1;
    height: 100%;
    padding: 0;
  }
  .headerLogo {
    width: 28px;
    height: 28px;
  }
  .title {
    font-family: var(--third-family);
    font-weight: 600;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .headerTitle {
    font-size: 25px;
    color: #fdfdfd;
  }
}

@media only screen and (min-width: 1440px) {
  .logoBox {
    display: flex;
    align-items: center;
  }
  .header {
    padding: 4px 16.5px;
  }
  .sign {
    display: flex;
    margin-bottom: 85px;
    padding-top: 40px;
    padding-left: 86px;
  }
  .link {
    font-size: 30px;
  }
  .signLogo {
    width: 64px;
    height: 64px;
  }
  .headerTitle {
    font-size: 30px;
  }
  .signTitle {
    font-size: 64px;
    color: var(--additional-text-title);
  }
}
