.postPic {
  height: 328px !important;
  object-fit: cover;
  border-radius: 8px;
  width: 360px;
}

.imageWrapper {
  position: relative;
  display: inline-block;
}

.imageContainer {
  pointer-events: none;
}

.credentials,
.credLink {
  margin-block: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.viewButton {
  position: absolute;
  right: 12px;
  top: 12px;
  border: 2px solid #fdfdfd;
  padding: 2px;
  border-radius: 8px;
  width: 36px;
  height: 36px;
  background-color: transparent;
}

.resize {
  width: 28px;
  height: 28px;
  color: #fff;
}

.credentials img {
  object-fit: cover;
  border-radius: 47px;
  width: 70px;
  height: 70px;
}

.credentials p {
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  color: #132d62;
}

.location {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400 !important;
  font-size: 16px !important;
  margin-left: auto;
}

.postCredentials {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  background: linear-gradient(90deg, #4965a1 0%, #072f86 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tags,
.dateDiv {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #697a9e;
}

.ratingDiv,
.dateDiv {
  display: flex;
  justify-content: space-between;
}

.rating {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-align: center;
  color: #132d62;
}

.dateDiv {
  font-weight: 500;
}

.buttonsWrapper {
  display: flex;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .postPic {
    width: 336px;
    height: 336px !important;
  }
  .viewButton {
    right: 18px;
    top: 18px;
  }
  .buttonsWrapper {
    gap: 22px;
  }
}

@media screen and (min-width: 1440px) {
  .postPic {
    width: 416px;
    height: 416px !important;
  }
  .viewButton {
    right: 24px;
    top: 24px;
  }
  .buttonsWrapper {
    gap: 20px;
  }
}
