.image {
  height: 300px;
  object-fit: cover;
  margin-bottom: 24px;
}

.title {
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  color: #24448a;
  margin-bottom: 16px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.userInfo img {
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

.userInfo p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #24448a;
}

.location {
  margin-left: auto;
}

.rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.ratingText {
  font-weight: 275;
  font-size: 12px;
  line-height: 134%;
  letter-spacing: 0em;
  text-align: center;
  color: #697a9e;
}

.link {
  display: flex;
  gap: 8px;
  align-items: center;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #24448a;
  margin-bottom: 26px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 18px;
}

.tag {
  border: 0.1px solid #fdfdfd;
  border-radius: 8px;
  padding: 6px 10px;
  background: #697a9e;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #fdfdfd;
}

@media screen and (min-width: 768px) {
  .image {
    width: 696px;
    height: 504px;
    object-fit: fill;
  }

  .userInfo img {
    width: 38px;
    height: 38px;
    border-radius: 8px;
  }

  .tabletDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .rating {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
  }
  .description {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .image {
    width: 636px;
    height: 636px;
    object-fit: cover;
  }

  .credentials {
    width: 636px;
  }
  .userInfo img {
    width: 38px;
    height: 38px;
    border-radius: 8px;
  }

  .tabletDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .rating {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
  }
  .description {
    font-size: 16px;
  }
}
