.header {
  min-width: 360px;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  padding: 10px 0;
  background: var(--header-footer);
}
.header_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_list,
.header_search,
.search_icon,
.header_user {
  display: none;
}
.userImg {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  object-fit: cover;
}
.rounded {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  object-fit: cover;
  border-radius: 8px;
}
a {
  text-decoration: none;
}
.burger_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
  border: none;
  z-index: 99;
}
.header_user_icon,
.header_settings_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  line-height: 1;
  font-size: 32px;
  border-radius: 8px;
}
.header_settings_icon {
  width: 24px;
  height: 24px;
  border: none;
  font-size: 20px;
}
.header_user_name {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--additional-text);
}
.header_toggle_container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header {
    min-width: 768px;
    height: 80px;
    padding: 20px 0;
  }
  .header_wrap {
    flex-direction: row-reverse;
    column-gap: 32px;
  }
  .header_right_side {
    position: relative;
    display: flex;
    column-gap: 24px;
  }
  .search_icon {
    display: block;
    position: absolute;
    top: 12px;
    left: 9px;
    font-size: 20px;
    line-height: 1;
    color: var(--additional-text);
    visibility: visible;
    opacity: 1;
  }
  .header_search {
    display: flex;
    align-items: center;
    padding: 0 12px 0;
    width: 98px;
    height: 42px;
    border: 1px solid var(--text);
    border-radius: 8px;
    outline: none;
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--additional-text);
    transition: border-color 0.3s ease, width 0.3s ease;
    background: linear-gradient(90deg, #4965a1 0%, #072f86 100%);
  }
  .header_search:focus {
    border-color: var(--button-hover);
    width: 190px;
    padding: 0 16px;
  }
  .header_search:focus + .search_icon {
    visibility: hidden;
    opacity: 0;
  }
  .header_search::placeholder {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 1.34;
    letter-spacing: 0em;
    color: var(--button-notactive);
    padding-left: 24px;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .header_search:focus::placeholder {
    opacity: 0;
    background: left;
  }
  .header_toggle_container {
    display: flex;
    align-items: center;
    width: 220px;
    height: 42px;
    background: linear-gradient(90deg, #2b59ba 0%, #083494 100%);
    border-radius: 8px;
  }
  .toggle_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 1.34;
    color: var(--additional-text);
  }
  .toggle_link:hover,
  .toggle_link:focus {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
    color: #071a44;
    border-color: var(--button-hover);
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    min-width: 1440px;
    padding: 17px 0;
  }
  .header_wrap {
    flex-direction: row;
    justify-content: space-between;
    min-width: 1018px;
  }
  .burger_btn {
    display: none;
  }
  .header_list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }
  .item_link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: var(--additional-text);
    transition: all 100ms ease;
  }
  .item_link:hover {
    text-shadow: 0 0 1px var(--additional-text);
  }
  .header_right_side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 26px;
  }
  .header_search {
    width: 180px;
    height: 48px;
  }
  .search_icon {
    top: 13px;
    left: 16px;
    font-size: 24px;
  }
  .header_search:focus {
    border-color: var(--button-hover);
    width: 220px;
    padding: 0 16px;
  }
  .header_search:focus + .search_icon {
    visibility: hidden;
    opacity: 1;
  }
  .header_search::placeholder {
    font-size: 14px;
    padding-left: 34px;
  }
  .header_toggle_container {
    width: 330px;
    height: 48px;
  }
  .toggle_link {
    font-size: 14px;
    line-height: 1.2;
  }
  .toggle_link:hover,
  .toggle_link:focus {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
    color: #071a44;
    border-color: var(--button-hover);
  }
  .header_user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 13px;
  }
  .user_name_btn {
    background-color: transparent;
    border: none;
    color: var(--additional-text);
    padding: 0;
    line-height: 1;
  }
  .user_name_btn_icon {
    font-size: 28px;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }
  .user_name_btn_icon:hover {
    transform: rotate(180deg);
  }
  .header_user_popup {
    position: absolute;
    top: 63px;
    right: 35px;
    z-index: 101;
    width: 216px;
    height: 100px;
    border-radius: 8px;
    padding: 20px 10px;
    background: var(--background);
    border: 0.5px solid var(--button-hover);
    transition: all 0.3s ease;
  }
  .icons_wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    row-gap: 12px;
  }
  .edit_icon_wrap,
  .logout_icon_wrap {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: var(--text);
    cursor: pointer;
  }
  .edit_icon,
  .logout_icon {
    font-size: 24px;
  }
}
