.header {
  min-width: 360px;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  padding: 10px 0;
  background: var(--header-footer);
}
.header_container {
  position: relative;
}
.header_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_list,
.header_search,
.header_user {
  display: none;
}

a {
  text-decoration: none;
}
.burger_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
  border: none;
  z-index: 100;
}
.header_user_icon,
.header_settings_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  line-height: 1;
  font-size: 32px;
  border-radius: 8px;
}
.header_settings_icon {
  width: 24px;
  height: 24px;
  border: none;
  font-size: 20px;
}
.header_user_name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--additional-text);
}
.header_toggle_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95px;
  height: 42px;
  background: linear-gradient(90deg, #2b59ba 0%, #083494 100%);
  border-radius: 8px;
}
.toggle_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: var(--additional-text);
}
.toggle_link:hover,
.toggle_link:focus {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  color: #071a44;
}

@media only screen and (min-width: 768px) {
  .header {
    min-width: 768px;
    height: 80px;
    padding: 20px 0;
  }
  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header_wrap {
    flex-direction: row-reverse;
    column-gap: 32px;
  }
  .header_toggle_container {
    width: 270px;
  }
  .toggle_link {
    font-size: 14px;
  }
  .toggle_link:hover {
    font-weight: 600;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    min-width: 1440px;
    padding: 17px 0;
  }
  .header_wrap {
    flex-direction: row;
    justify-content: space-between;
    min-width: 1018px;
  }
  .burger_btn {
    display: none;
  }
  .header_list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }
  .item_link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: var(--additional-text);
    transition: all 100ms ease;
  }
  .item_link:hover {
    font-weight: 600;
  }
  .header_right_side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 26px;
  }
  .header_search {
    display: flex;
    padding: 0;
    width: 54px;
    height: 48px;
    border: 1px solid var(--text);
    border-radius: 8px;
    outline: none;
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--additional-text);
    transition: border-color 0.3s ease, width 0.3s ease;
    background: linear-gradient(90deg, #4965a1 0%, #072f86 100%);
  }
  .header_search:focus {
    border-color: var(--button-hover);
    width: 190px;
    padding: 0 16px;
  }
  .header_search::placeholder {
    background: url("/src/assets/icons/iconSearch.svg") center no-repeat;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .header_search:focus::placeholder {
    opacity: 0;
    background: left;
  }
  .header_toggle_container {
    column-gap: 10px;
    width: 330px;
    height: 48px;
  }
  .header_user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 13px;
  }
}
