.wrapper {
  position: relative;
  /* display: flex; */
}

.searchContainer {
  display: flex;
  flex-direction: column;
  margin-top: 37px;
  margin-bottom: 58px;
  justify-content: space-between;
}
.label {
  position: relative;
  display: flex;
}
.magnifier {
  position: absolute;
  left: 12px;
  top: 40%;
  transform: translateY(-50%);
  pointer-events: none;
}

.statusButton {
  padding: 0;
  border-radius: 8px;
  border: 1px solid #697a9e;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusIcons {
  margin-left: 6px;
}

.iconButtons {
  display: flex;
  justify-content: space-between;
}

.statusFilter {
  display: flex;
  gap: 10px;
}
.userListWrapper {
  margin-bottom: 58px;
}
.pagination {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 56px;
}
.searchInput::placeholder {
  font-weight: 275;
  font-size: 12px;
  line-height: 1.34;
  letter-spacing: 0em;
  color: #697a9e;
}
.searchInput {
  border: 1px solid #697a9e;
  border-radius: 8px;
  padding: 10px 16px;
  width: 328px;
  height: 40px;
}

.searchInput:nth-child(1) {
  padding-left: 40px;
}

@media screen and (min-width: 768px) {
  .pagination {
    margin-bottom: 46px;
    gap: 24px;
  }
  .searchContainer {
    margin-top: 32px;
    margin-bottom: 32px;
    justify-content: space-between;
  }
  .userListWrapper {
    margin-bottom: 46px;
  }
  .searchInput {
    padding: 10px 16px;
    width: 321px;
    height: 48px;
  }
  .searchInput::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #697a9e;
  }
  .searchInput:nth-child(1) {
    padding-left: 48px;
  }
  .magnifier {
    position: absolute;
    left: 16px;
  }
}

@media screen and(min-width: 1440px) {
}
