.footer {
  min-width: 360px;
  width: 100%;
  background: var(--header-footer);
  padding: 16px 16px 32px 16px;
  margin: 0 auto;
  color: var(--additional-text);
}

.up {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.footerLogo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 32px auto;
  text-decoration: none;
  color: var(--additional-text);
}
.footerLogoText {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 30px;
}
.wrap {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.wrapLinks {
  display: flex;
  gap: 80px;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}
.links a {
  text-decoration: none;
  color: var(--additional-text);
}
.links a:hover {
  text-decoration: underline;
}
.contacts {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin: 0 auto;
}
.numberWrap {
  display: flex;
  flex-direction: row;
}
.numberOne {
  display: none;
}
.contacts a {
  text-decoration: none;
  color: var(--additional-text);
}
.contacts a:hover {
  text-decoration: underline;
}
.socialList {
  display: flex;
  margin-top: 15px;
  gap: 20px;
}
.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--additional-text);
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.down {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}
.line {
  border: 0.4px solid var(--additional-text);
  width: 328px;
  height: 0px;
  margin-bottom: 16px;
}
.wrapPrivacy a {
  text-decoration: none;
  color: var(--additional-text);
}
.wrapPrivacy a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .footer {
    min-width: 696px;
    padding: 28px 36px;
  }
  .footerLogo {
    margin: 0 110px 28px 0;
  }
  .up {
    
    align-items: flex-start;
    margin-bottom: 40px;
  }
  .wrap {
    display: flex;
    flex-direction: row;
    gap: 180px;
  }
  .wrapLinks {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .contacts {
    flex-direction: column;
    justify-content: space-between;
  }
  .numberWrap {
    flex-direction: column;
  }
  .numberOne {
    display: flex;
  }
  .socialList {
    margin-top: 47px;
  }
  .down {
    font-weight: 275;
    font-size: 12px;
    line-height: 150%;
  }
  .line {
    width: 696px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    min-width: 1196px;
    padding: 47px 80px 29px 88px;
  }
  .footerLogo {
    margin: 50px 110px 0 0;
  }
  .up {
    flex-direction: row;
    margin-bottom: 74px;
  }
  .wrap {
    gap: 250px;
  }
  .wrapLinks {
    gap: 100px;
  }
  .socialLink {
    gap: 32px;
  }

  .line {
    width: 1074px;
  }
}
