.list {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.no {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no > p {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #132d62;
}

@media screen and (min-width: 768px) {
  .list {
    margin-top: 48px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1440px) {
  .list {
    margin-top: 60px;
  }
  .buttons {
    justify-content: center;
    gap: 20px;
  }
}
