.img {
  display: none;
}
.wrap {
  padding-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 1.344;
  text-transform: uppercase;
  text-align: center;
  color: var(--text);
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .signIn {
    padding: 0;
  }
  .wrap {
    flex-direction: column;
    padding: 0;
  }
  .img {
    position: relative;
    display: flex;
    border-radius: 10px;
    width: 768px;
    height: 283px;
    margin-bottom: 46px;
  }
  .imgTxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 421px;
    font-family: var(--font5);
    font-size: 48px;
    color: var(--additional-text);
  }
  .title {
    font-size: 48px;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 1440px) {
  .wrap {
    flex-direction: row;
    column-gap: 86px;
  }
  .img {
    width: 575px;
    height: 600px;
    margin-bottom: 0;
  }
  .imgTxt {
    display: none;
  }
  .title {
    line-height: 1.34;
    margin-bottom: 24px;
  }
}
